/* Common Css */
*{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    width: 1100px;
    margin: auto;
}


/* Top-Header-Section-Start */
.th-section{
    background: #38373d;
}
.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.top-header p {
    color: #ffffff;
    font-size: 13px;
}
.top-header p i {
    color: #026aeb;
    margin-right: 8px;
}

/* Top-Header-Section-End */